* { margin: 0; padding: 0; border: 0; font-size: 100%; }

#my-id {     
	background-image: url("../images/Sunsetbanner.jpg"); 
	background-size: 1920px;
	padding-bottom: 5%
}  

.pagemargin {
	margin-left: auto;
	margin-right: auto;
	width: 80%
}

.top {
    color: #FFFFFF;
	font-family: 'roboto', sans-sertif;
	font-size: 50px
}

.my-container {
    padding-top: 15px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 20px;
    border: 5px solid #748E2C;
	font-family: 'Roboto', sans-serif;
}

#dummy {
	font-family: 'Roboto', sans-serif;
}

#picture1 {
  width: 500px
}
