* { margin: 0; padding: 0; border: 0; font-size: 100%; }

#my-id {     
	background-image: url("../images/sunsetbanner.jpg"); 
	background-size: 1920px;
	padding-bottom: 2%;
}  

.pagemargin {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.top {
    color: #FFFFFF;
	font-family: 'roboto';
	font-size: 100px;
	padding-left: 10%;
	padding-top: 20px;
}

.my-container {
    padding-top: 15px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 15px;
    border: 5px solid #748E2C;
	font-family: 'Roboto', sans-serif;
}

#dummy {
	font-family: 'Roboto', sans-serif;
}

#picture1 {
  width: 500px;
}
